:root {
  --primary-color: #1e90ff;
  --secondary-color: #f0f0f0;
  --border-color: #f0f0f0;
  --background-color: #ffffff;
  --mention-background-color: #0b57d0;
  --mention-text-color: #ffffff;
  --background-color-hover: #c4c7c5;
}

.rfq-mention-list-container {
  width: 270px;
  height: 600px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color);
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9000;
  overflow: auto;
}

.rfq-mention-loading {
  line-height: 2.75rem;
  padding: 0 1.25rem;
  vertical-align: middle;
  font-size: 1rem;
}

.rfq-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.rfq-mention-list-item {
  cursor: pointer;
  line-height: 2.75rem;
  font-size: 1rem;
  padding: 0 1.25rem;
  vertical-align: middle;
}

.rfq-mention-list-item.disabled {
  cursor: auto;
}

.rfq-mention-list-item.selected {
  background-color: var(--background-color-hover);
  text-decoration: none;
}

.mention {
  border-radius: 5px;
  background-color: var(--mention-background-color);
  color: var(--mention-text-color);
  font-weight: 600;
  padding: 3px 0;
  margin-right: 2px;
  user-select: all;
}

.mention > span {
  margin: 0 3px;
}

/* End Mention Module */

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
